#contacts {
    position: relative;
    text-align: center; 
    margin-bottom: 20px;
    font-size: 18px;
}

#contacts h1 {
    margin-top: 50px;
    font-size: 36px;
}

#contacts a {
    font-size: 18px;
    color: var(--text-color);
}
