#projects h1 { 
    font-size: 48px;
    margin-top: 50px;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.project-tile {
    border: 5px solid #000040; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 10px;
}

.project-title {
    flex: 1;
    padding-left: 5px;
    padding-top: 5px;
    font-size: 20px;
}

.project-title a{ 
    color: var(--text-color);
}

.project-image { /*this is NOT the image itself*/
    flex: 1;
}

.project-image img { /*this is about the image of the project iself*/
    max-width: 100%; /*makes image stay in container*/
    object-fit: cover;
}

.carouselBtn {
    background-color: var(--button-color);
    border: none;
    padding: 10px 15px;
    border-radius: 50%; /*makes the button round*/
    cursor: pointer;
}

.carouselBtn:hover {
    background-color: var(--link-hover-color);
}
