* {margin: 0; } /*universal selector*/

h1 { /*I want all Headings to be in the middle*/
    text-align: center;
}

:root {
    --bg-color: linear-gradient(#A8B5E0, #C1D5F0, #D5E3F0);
    --navbar-color: #DAF0F7;
    --text-color: black; 
    --button-color: beige; 
    --link-hover-color: pink;
}

body {
    font-family: Nunito, Arial, Helvetica, sans-serif;
    background: var(--bg-color);
    color: var(--text-color); 
}

.darkmode {
    --bg-color:#00509d;
    --navbar-color: #002365;
    --text-color: white; 
    --button-color: #ffdd42;
    --button-text-color: #1A237E;
    --link-hover-color: #f765a3;
}

#navbar a, #view-project-button a{
    color: var(--text-color);
    text-decoration: none; 
}

#navbar a:hover, #view-project-button a:hover, .project-title a:hover, #contacts a:hover {
    color: var(--link-hover-color);
}

/*added for phone*/
@media (max-width: 767px) {
    #navbar {
        display: none !important; 
        /*hide the nav-menu when on phone*/
    }

    #welcome h1, #about h1, #projects h1 {    
        font-size: 32px !important;
    }

    #welcome p {
        font-size: 18px !important;
    }

    #about-text {
        display: flex;
        flex-direction: column; /*I want them to stack on top of each other now*/
        align-items: center !important; 
        gap: 5px; 
    }

    #about-left-column {
        width: 100%; /*each should take up an entire line themselves*/
    }

    #about-right-column {
        display: flex ;
        flex-wrap: wrap; 
            /*allows things to move below automatically when there is not enough space*/
        justify-content: center;
        gap: 0.75rem; /*rem is 16px so 0.75*16 = 12 */
    }

    .skill-button {
        width: auto !important;
        white-space: nowrap;
    }
}
