:root {
    --bg-color: linear-gradient(#A8B5E0, #C1D5F0, #D5E3F0);
    --navbar-color: #DAF0F7;
    --text-color: black; 
    --button-color: beige; 
    --link-hover-color: pink;
}

.darkmode {
    --bg-color:#00509d;
    --navbar-color: #002365;
    --text-color: white; 
    --button-color: #ffdd42;
    --button-text-color: #1A237E;
    --link-hover-color: #f765a3;
}

body {
    font-family: Nunito, Arial, Helvetica, sans-serif;
    background: var(--bg-color);
    color: var(--text-color); 
}

* {margin: 0; } /*universal selector*/

#theme-switch {
    height: 50px;
    width: 50px;
    padding: 0; /*makes icon biggest size possible in their provided container*/
    margin: 10px 10px 10px -20px; /*clockwise, top -right -bottom -left*/
    border-radius: 50%; /*makes it round*/
    background-color: var(--bg-color); /*this should be dark blue*/
    display: flex;
    justify-content: center;
    align-items: center;
}

#theme-switch svg {
    fill:var(--text-color); /*this changes icon color from black (light mode) to white (dark mode)*/
}

#theme-switch svg:last-child{ /*this hide the sun icon during light/default mode*/
    display: none;
}

.darkmode #theme-switch svg:first-child { /*this will hide the moon icon during dark mode*/
    display: none;
}

.darkmode #theme-switch svg:last-child {
    display: block; 
    /*allows svg file to behave like a block instead of inline element; allows it to be visible*/
}

h1 { /*I want all Headings to be in the middle*/
    text-align: center;
}

/*contacts section*/
#contacts {
    position: relative;
    text-align: center; 
}

#contacts h1 {
    font-size: 36px;
}

#contacts a {
    font-size: 18px;
    color: var(--text-color);
}

/*added for phone*/
@media (max-width: 767px) {
    nav {
        display: none; /*hide the nav-menu when on phone*/
    }

    #welcome h1, #about h1, #projects h1 {    
        font-size: 48px;
    }

    #welcome p {
        font-size: 25px;
    }

    #about-text {
        display: flex;
        flex-direction: column; /*I want them to stack on top of each other now*/
        align-items: flex-start; 
        gap: 5px; 
    }

    #about-left-column, #about-right-column {
        width: 100%; /*each should take up an entire line themselves*/
    }

    #skills {
        display: flex;
        flex-wrap: wrap; 
            /*allows things tomove below automatically when there is not enough space*/
        gap: 0.75rem; /*rem is 16px so 0.75*16 = 12 */
    }

    .skill-button {
        margin-left: 12px;
    }

}
